.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container {
    padding-bottom: 20px;
}

body {
    background: rgb(250, 250, 250);
    color: rgb(15, 155, 148);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 150%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
}